/*SIGN UP PAGE CSS (DAVID)*/
.registro-body {
  background-color: #f1f3ef;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px 0;
}

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.contenedor-registro {
  text-align: center;
  background: transparent;
  width: 100%;
  max-width: 400px;
  margin: 0 40px;
}

.imagen-lateral {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 5px;
}

.contenedor-registro h1 {
  color: #1c1c1c;
  font-size: 2em;
  margin-bottom: 30px;
}

.registro-botones {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 7px;
  margin-left: 30px;
}
/*FIN SIGN UP PAGE CSS*/

/*SIGN IN PAGE CSS (ALEX)*/
body {
  background-color: #f1f3ef;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contenedor {
  text-align: center;
  background: transparent;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #1c1c1c;
  font-size: 2em;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  box-sizing: border-box;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 7px;
  margin-left: 30px;
}

button {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.cancelar {
  background-color: gray;
  color: #1c1c1c;
}

.iniciar {
  background-color: #a7ee7c;
  color: #1c1c1c;
}
/*FIN SIGN IN PAGE CSS*/

/*Change Password Page CSS (KENNETH)*/


#btn-pagina-inicio {

  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  box-shadow: 0 4px 5px;
  transition: 0.8s;
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;

}

#btn-cerrar-sesion {

  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;

  font-size: 20px;
  box-shadow: 0 4px 5px;
  transition: 0.8s;
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

#menuuuu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f1f3ef;
  text-align: right;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
}


.seccion-cambio {
  margin-top: 80px; /* Ajusta según el alto de tu barra */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  padding-top: 200px;
}

.caja-cambio {
  width: 50%;
  padding: 20px;
  background-color: #f1f3ef;
  border-radius: 10px;
}

.caja-cambio h2 {
  color: #1c1c1c;
  font-size: 2em;
  margin-bottom: 30px;
  text-align: center;
}

.caja-cambio input {
  display: block;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  box-sizing: border-box;
}

.caja-cambio button {
  padding: 10px 20px;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.caja-cambio pre {
  color: #787474;
}


.botonespwd{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 7px;
  margin-left: 30px;
}

#btn-cancelar-cambio {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  background-color: gray;
  color: #1c1c1c;

}

#btn-limpiar-campos {
  background-color: #2DC1D6;
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

#btn-confirmar-cambio {
  background-color: #a7ee7c;
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.imagen-cambio {
  width: 40%;
  text-align: right;
}

.imagen-cambio img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.ken-body {
  background-color: #f1f3ef;
  display: block;
}

.ken-body #menuuuu,
.ken-body .caja-cambio {
  background-color: #f1f3ef;
}


/*FIN Change Password CSS*/
